<ul class="share">
  <li class="share__item">
    <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&tw_p=tweetbutton" title="Twitterでシェア" target="_blank" rel="nofollow" class="share__link -twitter"><svg class="icon -share"><use xlink:href="#icon-twitter"/></svg></a>
  </li>
  <li class="share__item">
    <a href="https://www.facebook.com/sharer.php?u={{ .Permalink }}&t={{ .Title }}" title="Facebookでシェア" target="_blank" rel="nofollow" class="share__link -facebook"><svg class="icon -share"><use xlink:href="#icon-facebook"/></svg></a>
  </li>
  <li class="share__item">
    <a href="https://b.hatena.ne.jp/entry/{{ .Permalink }}" title="はてなブックマークに保存" target="_blank" rel="nofollow" class="share__link -hatena"><svg class="icon -share"><use xlink:href="#icon-hatena"/></svg></a>
  </li>
  <li class="share__item">
    <a href="https://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}" title="Pocketに保存" target="_blank" rel="nofollow" class="share__link -pocket"><svg class="icon -share"><use xlink:href="#icon-get-pocket"/></svg></a>
  </li>
  <li class="share__item">
    <a href="#" title="Feedlyに登録する" class="share__link -feedly"><svg class="icon -share"><use xlink:href="#icon-feedly"/></svg></a>
  </li>
</ul>
